<div class="testimonial_left column" data-anim-effect="fadeInLeft" data-anim-delay="0">
	<div class="ui segment">
		<i class="huge left glyphicon glyphicon-star"></i>
		<a class="ui right ribbon label">
			<span class="person">Samuel Johnson</span>
			
		</a>
		<p>
			Lợi ích của việc đi là để lấy thực tế điều chỉnh trí tưởng tượng, và thay vì ngồi hình dung ra mọi chuyện, cứ đi để xem nó thực sự như thế nào
		</p>
	</div>
</div>
<div class="testimonial_right column" data-anim-effect="fadeInRight" data-anim-delay="200">
	<div class="ui segment">
		<i class="huge right glyphicon glyphicon-star"></i>
		<a class="ui left ribbon label">
			<span class="person">Jack Kerouac</span>
			
		</a>
		<p>
			Những chiếc va li tồi tàn của chúng tôi lại một lần nữa chất đống ngoài vỉa hè, chặng đường phía trước thậm chí còn dài hơn nữa. Nhưng có hề chi, con đường đi mới chính là cuộc sống.
		</p>
	</div>
</div>