<section style="top: 0px;" id="about_section" class="ui fullscreen modal scrolling transition hidden">

		<!--==================================
			START === Header
		===================================-->
		<div class="header">
			<div class="ui grid">
			    <div class="two column row">
			        <div class="left floated column">
			        	<div class="ui header backBtn">
							<i class="chevron glyphicon glyphicon-chevron-left"></i>
							<div class="content">
								Trở về
							</div>
						</div>
			        </div>
			        <div class="right floated column">
			        	<h2 class="ui header">
							<i class="glyphicon glyphicon-user"></i>
							<span class="content">
								Thông Tin
							</span>
						</h2>
			        </div>
			    </div>
			</div>
		</div>
		<!--==================================
			END === Header
		===================================-->

		<!--==================================
			START === Content
		===================================-->
		<div class="content">
			<div class="ui container">
				<div class="ui grid">
					<div class="sixteen wide column">
						<div class="ui items">
						    <div class="item">
						    	<%= image_tag "avatar.png", :class=>"ui large image", :'data-anim-effect'=>"fadeInLeft"%>
					           
						        <div class="content">
						            <h2 class="ui header" data-anim-effect="fadeInRight" data-anim-delay="100">Dịch vụ du lịch</h2>
						            <div class="meta">
										<div class="" data-anim-effect="fadeInRight" data-anim-delay="200">Xe 16 chỗ đời mới 2016 (Ford Transit)</div>
										<h4 class="ui dividing header" data-anim-effect="fadeInRight" data-anim-delay="300">
											<i class="glyphicon glyphicon-tower"></i>
											<span class="content">
												Dịch vụ
												<span class="sub header">Cho Thuê Xe Du Lịch Phước Nhân</span>
											</span>
										</h4>
										<h4 class="ui dividing header" data-anim-effect="fadeInRight" data-anim-delay="300">
											<i class="glyphicon glyphicon-home"></i>
									        <span class="content">
									            Địa chỉ
									            <span class="sub header">180 Nguyễn Huệ, Ấp Công Tạo - Bình Phú - Tân Hồng - Đồng Tháp</span>
									        </span>
										</h4>
										<h4 class="ui dividing header" data-anim-effect="fadeInRight" data-anim-delay="400">
											<i class="glyphicon glyphicon-phone"></i>
									        <span class="content">
									            Số Điện thoại
									            <span class="sub header">+84-915-630-032</span>
									        </span>
										</h4>
										<h4 class="ui dividing header" data-anim-effect="fadeInRight" data-anim-delay="500">
											<i class="glyphicon glyphicon-send"></i>
									        <span class="content">
									            Email
									            <span class="sub header"><a href="mailto:nhanknth@gmail.com">nhanknth@gmail.com</a></span>
									        </span>
										</h4>
										<h4 class="ui dividing header" data-anim-effect="fadeInRight" data-anim-delay="600">
											<i class="glyphicon glyphicon-link"></i>
									        <span class="content">
									            Website
									            <span class="sub header"><a href="http://www.xephuocnhan.com/">www.xephuocnhan.com</a></span>
									        </span>
										</h4>
									</div>
						        </div>
						    </div>
						</div>
					</div>
					<div class="sixteen wide column" data-anim-effect="fadeInUp" data-anim-delay="700">
						<p>Dịch vụ cho thuê xe du lịch Phước Nhân kính chúc Quý khách mọi điều tốt đẹp nhất và xin trân trọng cảm ơn quý khách hàng đã quan tâm và ủng hộ dịch vụ chúng tôi trong thời gian qua.
</p>
						<p>Dịch vụ cho thuê xe chuyên nghiệp, uy tín và chất lượng ở Đồng Tháp nói chung và Tân Hồng nói riêng. Chúng tôi có khả năng phục vụ một cách tốt nhất theo nhu cầu của mỗi cá nhân và tổ chức.</p>
					</div>
				</div>
			</div>
		</div>
		<!--==================================
			END === Content
		===================================-->

	</section>