<main>

		<!--==================================
			START === Social Icons
		===================================-->
		
		<!--==================================
			END === Social Icons
		===================================-->
		
		<!--==================================
			START === Navigation
		===================================-->
		<nav class="ui bottom fixed inverted eight item labeled icon menu">
			<a class="item" data-section="about_section">
				<i class="glyphicon glyphicon-user"></i>
				Thông Tin
			</a>
			<a class="item" data-section="resume_section">
				<i class="glyphicon glyphicon-calendar"></i>
				Lịch Trình
			</a>
			<a class="item" data-section="portfolio_section">
				<i class="glyphicon glyphicon-camera"></i>
				Hình Ảnh
			</a>
			<a class="item" data-section="contact_section">
				<i class="glyphicon glyphicon-envelope"></i>
				Liên Hệ
			</a>
		</nav>
		<!--==================================
			END === Navigation
		===================================-->
		
		<!--==================================
			START === Name & Skills
		===================================-->
		<div id="name_skills_container">
			<div id="name_skills">
				<div class="name">
					<p>Dịch Vụ Cho Thuê Xe Du Lịch</p> 
					<p>Phước Nhân</p>
				</div>
				<div class="skill-set">
					<section class="intro">
						<h1 class="animated_skills">
							<div class="morphext" id="js-rotating">
								<span class="animated fadeInDown">Chuyên nghiệp - Uy tín - Chất lượng</span>
							</div>
						</h1>
					</section>
				</div>
			</div>
		</div>
		<!--==================================
			END === Name & Skills
		===================================-->

	</main>
	<!--==================================
		END === Home Page 
	===================================-->
